@font-face {
    font-family: airstream;
    src: url(fonts/Airstream-webfont.svg);
    src: url(fonts/Airstream-webfont.woff);
}
@font-face {
    font-family: lakeshor;
    src: url(fonts/LAKESHOR-webfont.svg);
    src: url(fonts/LAKESHOR-webfont.woff);
}
html {
    height: 100%
}
body {
    height: 100%;
    background-color:bisque;
    display: flex;
    flex-direction: column;
    margin: 0;
}
body{
    --thumbnails-image-width: 25vw;
    --thumbnails-image-heigth: 10vh;
    --thumbnails-image-title: calc(var(--thumbnails-image-heigth)*0.33);
    --details-image-width:60vw;
    --details-image-heigth:50vw;

}
.logo {
    display: block;
    text-align: center;
    background-color: beige;
    font-size: 1.2em;
    text-transform: uppercase;
    font-family: lakeshor;
}
h2 {
    margin-top: 10px;
    margin-bottom: 10px;
}
.main-class {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
}
.main-class.hidden{
     justify-content: space-around;
}

.details-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2vh;
    transition: 3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    
}
.hidden .details-container{
    display: none;
}
.details-frame {
    position: relative;
}
#hide-button{
    position:absolute;
    right: 4vw;
    top: 3vh;
    background-color:darkgray;
    border-radius: 25%;
}

.details-image {
    width: var(--details-image-width);
    height: var(--details-image-heigth);
    border-radius: 25%;
    
}
.details-title {
    display: block;
    background-color:pink;
    font-family: airstream;
    font-style: italic;
    font-size: 1.2em;
    position: absolute;
    bottom: 1vh;
    left: -1vw;
}
.thumbnails-list {
    display: flex;
    flex-wrap: wrap;
    max-height: 40vh;
    overflow-y: scroll;
    list-style: none;
    justify-content: space-around;
    padding-left: 0;
    margin-top: 3vh;
}
.hidden .thumbnails-list{
    max-height: 50vh;
    
}
.thumbnails-item {
    border: solid 2px black;
    margin-top: 2vh;
    border-radius: 25%;
    overflow: hidden;
    min-height: calc(var(--thumbnails-image-height) + var(--thumbnails-title-height));
    min-width: var(--thumbnails-image-width);
    max-width: var(--thumbnails-image-width);
    max-height: calc(var(--thumbnails-image-height) + var(--thumbnails-title-height));
}
.hidden .thumbnails-item {
    height: 13vh;
    max-width: var(--thumbnails-image-width);
    max-height: calc(var(--thumbnails-image-height) + var(--thumbnails-title-height));
    min-height: 10vh;
}
.thumbnails-item:hover {
    transform: scale(1.1);
}
.thumbnails-anchor {
    text-decoration: none;
}
.thumbnails-image {
    width: var(--thumbnails-image-width);
    height:var(--thumbnails-image-heigth);
    display: block;
}
.hidden .thumbnails-image{
    height: 11vh;
}
.thumbnails-title {
    display: block;
    text-align: center;
    background-color: antiquewhite;
    color: black;
    height: var(--thumbnails-title-height);
}
.is-point {
    transform:scale(0.001);
    transition:0s ;
}
@media (min-width: 560px) {
    body{
        --thumbnails-image-width: 16vw;
        --thumbnails-image-heigth: 17vh;
        --thumbnails-image-title: calc(var(--thumbnails-image-heigth)*0.33);
        --details-image-width:40vw;
        --details-image-heigth:70vh;
    }
    .logo {
        font-size: 1em;
    }
    .main-class {
        flex-direction: row;
        justify-content: space-around;
    }
    .details-container {
        justify-content: center;
        align-items: center;
        margin-bottom: 0;
    }
    .thumbnails-list {
        flex-direction: column;
        flex-wrap: nowrap;
        max-height: 75vh;
        order: -1;
        justify-content: flex-start;
        padding-right: 5vw;
        margin-left: 2vw;
        padding-left: 10px;

    }
    .hidden .thumbnails-list{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        max-height: 80vh;
    }
    
    .thumbnails-item {
        max-width: var(--thumbnails-image-width);
        max-height: calc(var(--thumbnails-image-height) + var(--thumbnails-title-height));
        min-height: 22vh;

    }
    .hidden .thumbnails-item{
        max-width: 20vw;
        max-height: calc(var(--thumbnails-image-height) + var(--thumbnails-title-height));
        min-height: 18vh;
    }
    .thumbnails-title {
        height: 5vh;
    }
    .hidden .thumbnails-image{
        width: 16vw;
        height: 14vh;
    }


}
@media (min-width: 1000px) {
    body{
        --thumbnails-image-width: 16vw;
        --thumbnails-image-heigth: 17vh;
        --thumbnails-image-title: calc(var(--thumbnails-image-heigth)*0.33);
        --details-image-width:40vw;
        --details-image-heigth:60vh;
    }

    .details-container {
        margin-top: 5vh;
        margin-right: 5vw;
    }
    .details-title{
        font-size: 3em;
    }

    .thumbnails-item {
        max-width:var(--thumbnails-image-width) ;
        min-width: 15vw;
        max-height: calc(var(--thumbnails-image-height) + var(--thumbnails-title-height));
        min-height: 20vh;
        padding-left: -2vw;
        margin-left: 2vw;
    }
    .thumbnails-list {
        padding-right: 2vw;
        margin-top: 2.5vh;
        max-height: 75vh;
    }

    .thumbnails-title {
        font-size: 1.5em;
    }
   

}
    
    