
    @font-face {
        font-family: airstream;
        src: url(fonts/Airstream-webfont.svg);
        src: url(fonts/Airstream-webfont.woff);
    }
    @font-face {
        font-family: lakeshor;
        src: url(fonts/LAKESHOR-webfont.svg);
        src: url(fonts/LAKESHOR-webfont.woff);
    }
    html {
            height: 100%
        }
        body { 
            height: 100%;
            margin: 0;
            display: flex;
            flex-direction: column;
        }
        .logo {
            display: block;
            text-align: center;
            background-color: beige;
            font-size: 1.2em;
            text-transform: uppercase;
            font-family: lakeshor;
        }
        h2{
            margin-top: 10px;
            margin-bottom: 10px;
        }
        .main-class {
            display: flex;
            flex-direction: column;
            justify-content: center;
            flex-grow: 1;
        }
        .details-container {
            display: flex;
            flex-direction: column; 
            align-items: center;
        }
        .details-image {
            border-radius: 25%;
            width: 60vw;
            height: 50vw; 
            border: solid 3px black;
           
        }
        .details-title {
            display: block;
            font-family: airstream;
            font-size: 1.2em;
            font-style: oblique;
        }
        .thumbnails-list {
            display: flex;
            flex-wrap: wrap;
            max-height: 42vh;
            overflow-y: scroll;
            list-style: none;
            justify-content: space-around;
            padding-left: 0;
            margin-top: 3vh;
          
        }
        .thumbnails-item {
            border:  solid 2px black;
            margin-top: 2vh;
            border-radius: 25%; 
            overflow: hidden;
        }
        .thumbnails-anchor {
            text-decoration: none;
        }
        .thumbnails-image {
            width: 25vw;
            height: 15vw;
            display: block;
        }
        .thumbnails-title {
            display:block;
            text-align: center;
            height: 5vw;
            color: black;
        }
        @media (min-width: 560px){
            .logo{
               max-height: 35px;
                font-size: 1em;
            }
            .main-class{
                flex-direction: row;
                justify-content: space-around;
                align-items:center;
            }
            .details-image {
                border-radius: 25%;
                width: 40vw;
                height: 35vw; 
                border: solid black;  
            }

            .thumbnails-list{
                order: -1;
                flex-direction: column;
                flex-wrap: nowrap;
                max-height: 72vh;
                 justify-content: space-between; 
            }
            .thumbnails-item{ 
                min-height: 10vw; 
            }
            .thumbnails-image {
                align-content: center; 
                height: 8vw;
                width: 12vw;
            }
        @media (min-width: 1000px) {
            
        }
    
    